[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=kritajs
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=krita.js
Comment=krita.js allows users to write plugins using HTML, CSS and JavaScript
